<!-- TITLE BANNER ONLY -->
<section class='hero-banner {{selectedValues element="Top/Bottom Spacing"}} {{selectedValues element="Limit Width"}}'>
  <!-- BANNER TEXT/CONTENT BLOCK -->
  <div class="hero-banner__block" style="text-align: center">
    <!-- BANNER BLOCK CATEGORY HEADER -->
    {{#ifSet element="Categories" }}
      <div class='hero-banner__block__category featured-item-list__widget-item__block__label'>
        <span class='bg-color'>{{publish element="Categories" }}</span>
      </div>
    {{/ifSet}}
    <!-- BANNER BLOCK TITLE -->
    {{#ifSet element="Title" }}
      <div class='hero-banner__block__title h1-heading'>
        <h1 style="color: black;">{{ publish element="Title"}}</h1>
      </div>
    {{/ifSet}}
    <!-- BANNER BLOCK CONTENT/TEXT -->
    {{#ifSet element="Content" }}
      <div class='hero-banner__block__content'>
        <p style="color: black;">{{ publish element="Content" }}</p>
      </div>
    {{/ifSet}}

    <!-- BANNER  AUTHOR CAPTION -->
    {{#ifSet element="Author" }}
      <div class='author caption-font caption-black'>By {{publish element="Author" }}</div>
    {{/ifSet}}
    {{#ifSet element="Published Date" }}
      <div class='date' style='height: 0;overflow: hidden;'>{{publish element="Published Date" }}</div>
    {{/ifSet}}
  </div>
</section>